@font-face {
    font-family: 'e-Ukraine Head Light';
    src: url('../resourse/fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Thin';
    src: url('../resourse/fonts/e-UkraineHead-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Bold';
    src: url('../resourse/fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../resourse/fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Ultra Light';
    src: url('../resourse/fonts/e-UkraineHead-UltraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head LOGO';
    src: url('../resourse/fonts/e-UkraineHead-LOGO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: Fixed (1, 920px)px;
    height: Hug (4, 856.22px)px;
    top: 100px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    margin: 0;
    padding: 0;
    width: Fill (1, 920px);
    height: Hug (124px);
    background-image: url('../resourse/images/grunge.png');
    background-size: 25%;
    background-attachment: fixed
}

.page-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    font-family: 'e-Ukraine Head Light';
    font-size: 12px;
    font-weight: 300;
    line-height: 23.8px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #EFF0F3;
    gap: 10px;
}

.breadcrumb-link {
    color: #eff0f3ec;
    text-decoration: none;
}

@keyframes element-color {
    from {
        color: #eff0f3ec
    }

    70% {
        color: #DE442C;
    }
}

.breadcrumb-link:hover {
    animation: 1s alternate element-color;
}

.breadcrumb-arrow {
    width: 4.89px;
    height: 8.19px;
    margin-left: 5px;
}

.lower-intensity-color {
    color: #EFF0F3B2;
}

.investigation-header-info {
    margin-top: 100px;
    color: #EFF0F3;
}

.date {
    font-family: 'e-Ukraine Head Light';
    font-size: 10px;
    font-weight: 300;
    line-height: 23.8px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    color: #EFF0F3;
    background-color: #DE442C80;
    padding: 2px 2px;
    margin-bottom: 10px;
}

.investigation-header {
    margin-top: 22px;
    font-family: 'e-Ukraine Head';
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-wrap: wrap;
}

.investigation-header-description {
    margin-top: 22px;
    font-family: 'e-Ukraine Head Thin';
    font-size: 22px;
    line-height: 35.8px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-wrap: wrap;
}

.associated-persons-info {
    margin-top: 100px;
    align-items: first baseline;
    display: flex;
    flex-direction: row;
}

.sub-header {
    vertical-align: top;
    width: 240px;
    font-family: 'e-Ukraine Head';
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    text-transform: uppercase;
    color: #EFF0F3;
}

.associated-persons {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

.person {
    text-decoration: none;
    color: #EFF0F3;
    display: flex;
    flex-direction: row;
}

@keyframes arrow {
    100% {
        color: #DE442C;
        background-image: url('../resourse/images/fontisto_arrow-right.png');
        padding-right: 20px;
        background-position: right;
        background-clip: padding-box;
        background-repeat: no-repeat;
    }
}

.person:hover {
    cursor: pointer;
    animation: arrow 0.4s ease;
    animation-fill-mode: forwards;
}

.associated-person-name {
    align-self: center;
    margin-left: 4px;
    font-family: 'e-Ukraine Head';
    font-size: 10px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
}

.person-icon {
    align-self: center;
    margin-left: 20px;
    width: 30px;
    height: 20px;
    border-radius: 1em;
    filter: grayscale(100%);
}

.markdown-content {
    font-family: 'e-Ukraine Head Light';
    font-size: 14px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EFF0F3;
}

.sources {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 20vw;
    padding-right: 20vw;
    font-family: 'e-Ukraine Head';
    font-size: 12px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #EFF0F3;
}

.source {
    margin-top: 20px;
}

.arrowRightUp {
    width: 15px;
    height: 15px;
    vertical-align: top;
}

@keyframes link-orange {
    100% {
        color: #DE442C;
    }
}

@keyframes arrow-orange {
    100% {
        filter: invert(44%) sepia(74%) saturate(6206%) hue-rotate(350deg) brightness(95%) contrast(82%);
    }
}

.source-header {
    text-decoration: none;
    width: fit-content;
    color: #EFF0F3;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}

.source-header:hover,
.source-header:hover>a {
    animation: link-orange 0.4s ease;
    animation-fill-mode: forwards;
}


.source-header:hover .arrowRightUp {
    animation: arrow-orange 0.4s ease;
    animation-fill-mode: forwards;
}

.source-description {
    margin-bottom: 10px;
    font-family: 'e-Ukraine Head';
    font-size: 10px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #EFF0F3B2;
}

.latest-investigations {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #EFF0F3;
}

.latest-investigations-header {
    margin-bottom: 10px;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-transform: uppercase;
}

.latest-investigations-full-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.latest-investigations-left {
    width: 70%;
}

@keyframes block-orange {
    100% {
        color: #EFF0F3;
        background: #DE442C;
    }
}

@keyframes invert {
    100% {
        filter: invert(100%);
    }
}

.latest-investigations-right {
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 131px;
    color: black;
}

.latest-investigations-right:hover {
    animation: block-orange 0.4s ease;
    animation-fill-mode: forwards;
}

.latest-investigations-right:hover .arrowRightUpBlack {
    animation: invert 0.4s ease;
    animation-fill-mode: forwards;
}

.label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 550;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 1px;
}

.latest-investigations-description {
    font-family: 'e-Ukraine Head Light';
    font-size: 14px;
    line-height: 20.8px;
    font-weight: lighter;
    letter-spacing: 0.11000000596046448px;
    text-align: left;
}

.arrowRightUpBlack {
    width: 15px;
    height: 15px;
    align-self: center;
}

.latest-investigation-flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


@keyframes change-card-background {
    100% {
        background-image: url('../resourse/images/card-rectangle.png');
        color: black;
    }
}

.investigation-card {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 15px;
    width: 29%;
    height: 180px;
    background-image: url('../resourse/images/dust.png');
    background-size: 50px;
    background-repeat: repeat;
    padding: 10px;
}

.investigation-card:hover {
    animation: change-card-background 0.4s ease;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
}

.investigation-card-content {
    display: flex;
    flex-direction: column;
}

.investigation-card-header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.investigation-card-text {
    width: 60px;
    margin-left: 10px;
    font-family: 'e-Ukraine Head Thin';
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-transform: uppercase;
    text-wrap: wrap;
    align-self: center;
}

.investigation-card-date {
    margin-left: 20px;
    width: 25%;
    margin-top: 35px;
    font-family: 'e-Ukraine Head Light';
    font-size: 6px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    background-color: #DE442C;
}

.investigation-card-label {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-family: 'e-Ukraine Head';
    font-size: 12px;
    font-weight: 500;
    line-height: 14.8px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    text-wrap: wrap;
}