@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../resourse/fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Light';
    src: url('../resourse/fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Regular';
    src: url('../resourse/fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    width: Fixed (1, 920px)px;
    height: Hug (4, 856.22px)px;
    top: 100px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: 'e-Ukraine Head';
    margin: 0;
    padding: 0;
    background-image: url('../resourse/images/grunge.png');
    background-size: 25%;
    background-attachment: fixed
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-top: 40px;
    gap: 0px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 3px;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
}


button {
    width: 230px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    background-color: #1F1F1F;
    color: white;
    font-size: larger;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #DE442C;
    cursor: pointer;
}

.prevPage {
    background-color: #1F1F1F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* News */

.app {
    background: transparent;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.rating {
    font-family: e-Ukraine Head;
    font-size: 70px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-bottom: 10px;
    color: #1F1F1F;
}

.latest-rating-full-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.latest-rating-left {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.latest-rating-right {
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 131px;
    margin-bottom: 30px;
    color: black;
}

.labelRating {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'e-Ukraine Head';
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    margin: 8px;
    text-transform: uppercase;
    margin-right: 1px;
}

.latest-rating-right {
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    width: 270px;
    color: #373838;
}

.latest-rating-right:hover {
    animation: block-orange 0.4s ease;
    animation-fill-mode: forwards;
}

.latest-rating-right:hover .arrowRightUpBlack {
    animation: invert 0.4s ease;
    animation-fill-mode: forwards;
}

.divRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.descriptionNews {
    color: #1F1F1F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
}

/* Main title */

.container {
    width: 80%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
    color: white;
}

.highlight {
    height: 100%;
    background-color: #DE442C;
    padding: 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-left: 20px;
}

.divider-latest-investigations-header {
    width: 99.5%;
    margin-top: 15px;
    border: 3px solid #E7E7E7
}

.divHeaderTitle {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divheader1 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divHeader {
    display: inline-flex;
    justify-self: center;
    flex-direction: column;
}

.header1 p {
    margin: 20px 0;
}


.header1 {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 15px;
    font-size: 125px;
}

.arrows {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.arrows img {
    width: 80px;
    height: 80px;
}

.description {
    display: flex;
    width: 40%;
    margin-top: 65px;
    font-size-adjust: 0.5;
    padding: 45px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.arrow {
    gap: 0px;
    opacity: 0px;
    transform: rotate(-90deg);
    filter: brightness(0) invert(1);
}


.representative-card h2,
.representative-card h3,
.representative-card p {
    margin: 8px 0;
}

/*Investigation*/

.appInvestigation {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.latest-investigations-header {
    font-family: e-Ukraine Head;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    margin-top: 100px;
    text-align: center;
}

.latest-investigation-left {
    width: 74%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.headerInvestigation {
    font-family: e-Ukraine Head;
    font-size: 70px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-bottom: 10px;
    color: #E7E7E7;
}

.headerInvestigation h1 {
    font-size: 24px;
    font-weight: bold;
}

.subheaderInvestigation {
    color: #1F1F1F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    color: #FFFFFFB2;
}

.subheaderInvestigation p {
    font-size: 16px;
}

.sectionInvestigation {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.dividerInvestigation {
    width: 99.5%;
    margin-top: 65px;
    border: 0.96px solid #FFFFFF80;
}


.investigation-header {
    text-decoration: none;
    width: fit-content;
    color: #EFF0F3;
    padding-bottom: 3px;

}

.investigation-header:hover,
.investigation-header:hover>a {
    animation: link-orange 0.4s ease;
    animation-fill-mode: forwards;
}


.investigation-header:hover .arrowRightUp {
    animation: arrow-orange 0.4s ease;
    animation-fill-mode: forwards;
}

.sectionInvestigation h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Last section */

.latest-investigations-main {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFFFF;
}