@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../resourse/fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Light';
    src: url('../resourse/fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Regular';
    src: url('../resourse/fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    width: Fixed (1, 920px)px;
    height: Hug (4, 856.22px)px;
    top: 100px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: 'e-Ukraine Head';
    margin: 0;
    padding: 0;
    background-image: url('../resourse/images/grunge.png');
    background-size: 25%;
    background-attachment: fixed
}

/* Header */

.header-container {
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1F1F;
    border-bottom: 1px solid #EFF0F31A;
    height: 104px;
    padding: 0px 0px 0px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    align-self: center;
    position: relative;
}

.nav-left {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-right {
    width: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: right;
    margin-right: 40px;
    text-align: center;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-left a,
.nav-right a,
.nav-btn,
.nav-center .close-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-center .close-btn {
    font-size: 24px;
    line-height: 1;
    width: Hug (100px)px;
    height: Fill (104px)px;
    gap: 40px;
    opacity: 0px;
}

.lang.active {
    border-bottom: 5px solid #FF3B30;
    color: #FF3B30;
}

.lang {
    padding: 10px;
    border-bottom: 5px solid #1F1F1F;
    font-weight: bold;
}

.lang:not(.active) {
    opacity: 0.6;
}

.lang:active {
    opacity: 1;
}

.div-btn {
    height: 100%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.div-btn:hover {
    background: #FF3B30;
}

.nav-btn {
    align-self: center;
}

/* Title */

.divTitle {
    width: Hug (1, 567px)px;
    height: Hug (200px)px;
    gap: 40px;
    opacity: 0px;

}

.title1 {
    font-family: e-Ukraine Head;
    font-size: 160px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #E7E7E7;
}

.divTitle2 {
    width: Hug (1, 027px)px;
    height: Hug (200px)px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    background: #DE442C;
}

.title2 {
    font-family: e-Ukraine Head;
    font-size: 160px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #E7E7E7;
}

h1 {
    width: 1081.54px;
    height: 96px;
    gap: 0px;
    opacity: 0px;

    font-family: e-Ukraine Head;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

    text-emphasis-color: #1F1F1F;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.representative-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.representative-card {
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 400px;
}

.rectangle {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.info {
    display: block;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.name {
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    text-align: left;
    font-family: e-Ukraine Head;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

}

.surname {
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    text-align: left;
    font-family: e-Ukraine Head;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}

.party-card {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.party {
    padding-left: 5px;
    font-size: 14px;
    color: #1F1F1F;
    font-family: Arial;
    font-weight: bolder;
    font-style: normal;
    margin-left: 100px;
    margin: 0;
    align-self: flex-start;
}

.photo {
    width: 18px;
    height: 18px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
}

.score {
    background: #1F1F1F;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 5px;
    text-align: start;
    width: 90%;
    height: Hug (56px)px;
    padding: 10px 20px 10px 20px;
    gap: 0px;
    opacity: 0px;
}

.score p {
    margin: 0;
    font-weight: bold;
}

/* News */

.app {
    background: white;
}

.divRating {
    width: 69%;
}

.rating {
    font-family: e-Ukraine Head;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #1F1F1F;
}

.descriptionNews {
    color: #1F1F1F;
}

.buttonRating {
    width: fit-content;
    align-items: center;
    color: #373838;
    font-family: e-Ukraine Head;
    font-family: 'e-Ukraine Head';
    background: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.15000000596046448px;
    text-align: center;

}

.buttonRating:hover {
    cursor: pointer;
    background: #FF3B30;
    color: white;
    font-family: 'e-Ukraine Head';
}

/* Main title */

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    color: white;
}

.highlight {
    background-color: #FF3B30;
    padding: 0 15px;
}

.divider {
    width: 100%;
    border: 2px solid white;
}

.divHeaderTitle {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divHeader {
    display: inline-flex;
    flex-direction: column;
}

.header1 p {
    margin: 20px 0;
}


.header1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.arrows img {
    width: 100px;
    height: 100px;
}

.description {
    display: inline-flex;
    width: 35%;
    font-size-adjust: 0.5;
    word-wrap: break-word;
    align-self: center;
    margin: 0 auto;
}

.arrow {
    width: 100px;
    height: 100px;
    gap: 0px;
    opacity: 0px;
    transform: rotate(-90deg);
    filter: brightness(0) invert(1);
}


.representative-card h2,
.representative-card h3,
.representative-card p {
    margin: 8px 0;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: #1F1F1F;
    border-bottom: 1px solid #EFF0F31A;
    height: 54px;
    padding: 0px 0px 0px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    position: relative;
}

.footerText {
    color: white;
    font-family: 'e-Ukraine Head Light'
}