@font-face {
    font-family: 'e-Ukraine Head';
    src: url('../resourse/fonts/e-UkraineHead-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Light';
    src: url('../resourse/fonts/e-UkraineHead-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine Head Regular';
    src: url('../resourse/fonts/e-UkraineHead-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    width: Fixed (1, 920px)px;
    height: Hug (4, 856.22px)px;
    top: 100px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: 'e-Ukraine Head';
    margin: 0;
    padding: 0;
    background-image: url('../resourse/images/grunge.png');
    background-size: 25%;
    background-attachment: fixed
}

.divHeaderTitleMain {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
    flex-direction: column;
    align-self: center;
}

/* Title */

.divTitle {
    width: Hug (1, 567px)px;
    height: Hug (200px)px;
    gap: 40px;
    opacity: 0px;
}

.title1 {
    font-family: e-Ukraine Head;
    font-size: 160px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #E7E7E7;
}

.divTitle2 {
    width: Hug (1, 027px)px;
    height: Hug (200px)px;
    padding: 20px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    background: #DE442C;
}

.title2 {
    font-family: e-Ukraine Head;
    font-size: 160px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #E7E7E7;
}

h1 {
    width: 1081.54px;
    height: 96px;
    gap: 0px;
    opacity: 0px;

    font-family: e-Ukraine Head;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

    text-emphasis-color: #1F1F1F;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.representative-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    gap: 7%;
}

.latest-investigation-flow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.6%;
    margin-bottom: 50px;
    gap: 0%;
}

.representative-card {
    width: 360px;
    height: 580px;
    gap: 0px;
    opacity: 0px;
    padding: 0px;
    margin-top: 16px;
    text-align: center;
}

.image-candidate {
    width: 100%;
    height: 410px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    filter: grayscale(100%);
}

.rectangle {
    width: 360px;
    height: 410px;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(0%);
    text-decoration: none;
    color: #ffffff;
    background-repeat: no-repeat;
}

.rectangle1 {
    width: 360px;
    height: 410px;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(100%);
    text-decoration: none;
    color: #ffffff;
    background-repeat: no-repeat;
}

.rectangle:hover {
    animation: change-rectangle-background 1.0s ease;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;   
    background-size: cover;  
    width: 360px;
    height: 410px;
    filter: grayscale(0%);
}

.rectangle1:hover {
    animation: change-rectangle-background1 1.0s ease;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;   
    background-size: cover;
    filter: grayscale(0%);
}

@keyframes change-rectangle-background {
    100% {
        background-image: url('../resourse/images/card-rectangle-transparent.png');
        color: #DE442C;
        animation-fill-mode: forwards;
        background-size: cover;
        background-position: right;
        width: 360px;
        height: 410px;
        
    }
}

@keyframes change-rectangle-background1 {
    100% {
        color: #DE442C;
        animation-fill-mode: forwards;
        background-size: cover;
       
        width: 360px;
        height: 410px;
        
    }
}

.rectangle:hover .score {
    background-color: #DE442C;
}


.arrow {
    gap: 220px;
    opacity: 0px;
    transform: rotate(-90deg);
    filter: brightness(0) invert(1);
}


.info {
    display: block;
    color: white;
    padding: 5px;
    border-radius: 4px;
}

.name {
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    font-family: e-Ukraine Head;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;

}

.surname {
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    text-align: left;
    font-family: e-Ukraine Head;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
}

.party-card {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.party {
    padding-left: 5px;
    font-size: 14px;
    color: #1F1F1F;
    font-family: Arial;
    font-weight: bolder;
    font-style: normal;
    margin-left: 100px;
    margin: 0;
    align-self: flex-start;
}

.photo {
    width: 18px;
    height: 18px;
    gap: 0px;
    border-radius: 50px;
    opacity: 0px;
}

.score {
    background: #1F1F1F;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: start;
    width: 89%;
    width: 320px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 0px;
    opacity: 0px;
    transition: background-color 0.5s ease;

}

.score p {
    margin: 0;
    font-weight: bold;
}

/* Pagination */

.pagination-btns {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    gap: 0px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 3px;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
}


.btn {
    width: 230px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    background-color: #1F1F1F;
    color: white;
    font-size: larger;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #DE442C;
    cursor: pointer;
}

.prevPage {
    background-color: #1F1F1F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* News */

.news {
    background-image: url('../resourse/images/paper.png');
}

.app {
    background: transparent;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.rating {
    font-family: e-Ukraine Head;
    font-size: 70px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-bottom: 10px;
    color: #1F1F1F;
}

.latest-rating-full-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.latest-rating-left {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.latest-rating-right {
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 131px;
    margin-bottom: 30px;
    color: black;
}

.labelRating {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: 'e-Ukraine Head';
    letter-spacing: 0.15000000596046448px;
    text-align: center;
    margin: 8px;
    text-transform: uppercase;
    margin-right: 1px;
}

.latest-rating-right {
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    width: 270px;
    color: #373838;
}


.divRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.descriptionNews {
    color: #1F1F1F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
}

/* Main title */

.containerMain {
    width: 80%;
    margin: 0;
    padding-top: 180px;
    padding-bottom: 150px;
    padding-left: 8.5%;
    padding-right: 10%;
    display: inline-block;
    color: white;
}

.highlight {
    height: 100%;
    background-color: #DE442C;
    padding: 0 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-left: 20px;
}

.divider {
    width: 99.5%;
    margin-top: 65px;
    border: 3px solid #E7E7E7
}

.divHeaderTitle {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divheaderMain1 {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.divHeader {
    display: inline-flex;
    justify-self: center;
    flex-direction: column;
}

.header1 p {
    margin: 20px 0;
}


.header1 {
    width: 80%;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 15px;
    font-size: 125px;
}

.arrows {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

.arrows img {
    width: 80px;
    height: 80px;
}

.description {
    display: flex;
    width: 40%;
    margin-top: 65px;
    font-size-adjust: 0.5;
    padding: 45px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}


.representative-card h2,
.representative-card h3,
.representative-card p {
    margin: 8px 0;
}

/*Investigation*/

.appInvestigation {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.latest-investigation-left {
    width: 74%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.headerInvestigation {
    font-family: e-Ukraine Head;
    font-size: 70px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    margin-bottom: 10px;
    color: #E7E7E7;
}

.headerInvestigation h1 {
    font-size: 24px;
    font-weight: bold;
}

.subheaderInvestigation {
    color: #1F1F1F;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    line-height: 1.5;
    color: #FFFFFFB2;
}

.subheaderInvestigation p {
    font-size: 16px;
}

.sectionInvestigation {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.dividerInvestigation {
    width: 99.5%;
    margin-top: 65px;
    border: 0.96px solid #FFFFFF80;
}


.investigation-header {
    text-decoration: none;
    width: fit-content;
    color: #EFF0F3;
    padding-bottom: 3px;

}

.investigation-header:hover,
.investigation-header:hover>a {
    animation: link-orange 0.4s ease;
    animation-fill-mode: forwards;
}


.investigation-header:hover .arrowRightUp {
    animation: arrow-orange 0.4s ease;
    animation-fill-mode: forwards;
}

@keyframes link-orange {
    100% {
        color: #DE442C;
    }
}

@keyframes arrow-orange {
    100% {
        filter: invert(44%) sepia(74%) saturate(6206%) hue-rotate(350deg) brightness(95%) contrast(82%);
    }
}

.sectionInvestigation h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Last section */

.latest-investigations-main {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url('../resourse/images/paper.png');
    background-color: #EFF0F3;
}