.app-person {
    background: #FFFFFF;
    margin-bottom: 0px;
    height: 780px;
    padding-left: 10%;
    padding-right: 10%;
}

.representative-list-person {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    gap: 7%;
    margin-bottom: 0px;
    padding-top: 50px;
}